* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #321325;
  color: #fff;
}

h1 {
  color: #f3a162;
  font-weight: 700;
  font-size: 4.4rem;
  text-align: center;
  padding: 2.4rem 0;
}

h2 {
  font-weight: 500;
  font-size: 3.2rem;
}

.main-content {
  display: flex;
  width: 100%;
  /* border: 2px solid white; */
  justify-content: center;
  gap: 15rem;
}

.nowplaying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  background: #5f0f40;
  border-radius: 20px;
  gap: 3rem;
  width: 37.5rem;
}

.queue {
  width: 37.5rem;
}

.music-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.music-img {
  width: 24.5rem;
  height: 24.5rem;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.music-name {
  font-weight: 500;
  font-size: 2.4rem;
}

.music-artist {
  font-weight: 400;
  font-size: 1.8rem;
}

.player {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */

  margin: 0 auto;
}

.fa-backward-step,
.fa-forward-step {
  color: #5f0f40;
}

.fa-solid {
  font-size: 3rem;
}

.fa-circle-play,
.fa-circle-pause {
  font-size: 5rem;
  color: #cb793a;
}

.head {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.song-name {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4px;
}

.artist-name {
  font-size: 1.5rem;
  font-weight: 300;
}

.music-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.music-list > div {
  padding: 1.2rem 1.5rem;
  background-color: #5f0f40;
  border-radius: 5px;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 5rem 0 0 0;
  background: #5f0f40;
  font-size: 1.6rem;
  bottom: 0;
}

audio::-webkit-media-controls-panel {
  background-color: #56aeff;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}

@media screen and (max-width: 950px) {
  .main-content {
    gap: 5rem;
  }
}

@media screen and (max-width: 850px) {
  .main-content {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .main-content {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .nowplaying {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.8rem;
  }

  .music-name {
    font-size: 2rem;
  }

  .music-artist {
    font-size: 1.6rem;
  }

  .queue {
    width: 30rem;
  }

  .song-name {
    font-size: 1.6rem;
  }

  .artist-name {
    font-size: 1.4rem;
  }

  footer {
    font-size: 1.4rem;
  }
}
